---js
const eleventyNavigation = {
	key: "Home",
	order: 1
};

---
<h1>SCOTT'S BLOG</h1>
{% set postsCount = collections.posts | length %}
<h2>Latest {{ postsCount }} Post{% if postsCount != 1 %}s{% endif %}</h2>

{% set postslist = collections.posts | head(-1 * postsCount) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{# List every content page in the project #}
{#
<ul>
	{%- for entry in collections.all %}
	<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
	{%- endfor %}
</ul>
#}
